@model letter_of_no_evidence.web.Models.ReceiptViewModel

@{
    ViewData["Title"] = "Request receipt - The National Archives";
}

@await Html.PartialAsync("Partials/_Breadcrumbs")

<h1 class="display-4">4. Request receipt</h1>

<div class="container content-wrapper">

    <div class="text-center">
        <section class="row" id="progress-bar">
            <h2 class="sr-only">Progress</h2>
            <div class="col-md-12">
                <ol>
                    <li><span class="step-number">1</span> <span class="step">Enter subject details</span></li>
                    <li><span class="step-number">2</span> <span class="step">Enter contact details</span></li>
                    <li><span class="step-number">3</span> <span class="step">Request summary</span></li>
                    <li aria-current="page" class="active"><span class="step-number">4</span> <span class="step">Request receipt</span></li>
                </ol>
            </div>
        </section>
    </div>

    <div class="heading">
        <div class="row">
            <div class="col-md-12">
                <h2>Request receipt</h2>
                @if (Model.PaymentStatus == model.PaymentStatus.Success)
                {
                    <p>Your payment was successfully received.</p>
                }
                else
                {
                    <div class="summary-error-message">
                        <h2>There is a problem.</h2>
                        <p>Your payment was un-successful, please try again.</p>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="booking-details">
        <div class="row">
            <div class="col-md-12">
                @if (Model.PaymentStatus == model.PaymentStatus.Success)
                {
                    <fieldset>
                        <legend class="mt-lg">Your payment summary</legend>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Enquiry reference number</th>
                                    <td>@Html.DisplayFor(model => model.RequestNumber)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Payment reference</th>
                                    <td>@Html.DisplayFor(model => model.SessionId)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Service cost</th>
                                    <td>@Html.DisplayFor(model => model.ServiceCost) GBP (no VAT added)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Postal cost</th>
                                    <td>@Html.DisplayFor(model => model.PostalCost) GBP</td>
                                </tr>
                                <tr>
                                    <th scope="row">Total cost</th>
                                    <td>@Html.DisplayFor(model => model.TotalCost) GBP</td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                }
                else
                {
                    <fieldset>
                        <legend class="mt-lg">Try again the payment</legend>

                        <div class="form-row">
                            <a class="button secondary" href="@Url.Action("Index", "Home")">Start again</a>
                            <a class="button primary" href="@Url.Action("TryAgain", "Request", new { requestNumber = Model.RequestNumber })">Continue to payment</a>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>